.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  // width: 100%;
  max-width: 1800px;
  position: relative;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}
.name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--blue);
}
.price {
  font-size: 18px;
  margin-bottom: 20px;
}

.list {
  margin: 0;
}
.block {
  margin-bottom: 30px;
}
.line {
  display: flex;
  align-items: center;
  gap: 20px;
}
.link {
  margin-top: 20px;
  cursor: pointer;
  transition: color 0.4s;
  &:hover {
    color: var(--blue);
  }
}
