.count {
  display: flex;
  align-items: center;
  gap: 10px;
}
.button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  flex-shrink: 0;
  padding: 0;
  color: var(--white);
  border: 1px solid var(--blue);
  background-color: var(--blue);
  font-size: 20px;
  transition: all 0.4s;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  &:hover {
    color: var(--blue);
    background-color: transparent;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  }
}
.value {
  font-size: 18px;
}
.review {
  .button {
    color: var(--blue);
    background-color: var(--white);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    &:hover {
      color: var(--white);
      background-color: var(--blue);
    }
  }
}
