h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}

body {
  color: var(--color-base);
  background-color: var(--grey-bg);
}

:root {
  --grey-bg: #f7f7f7;
  --light-grey: #abb5c6;
  --mid-grey: #9d9d9c;
  --white: #ffffff;
  --red: #de1500;
  --color-base: #0c244a;
  --blue: #4077c9;
  --light-blue: #d9e7f2;
  --dark-blue: #001a8a;
  --light-grey: #abb5c6;
  --white: #ffffff;
}
